.projectsDeck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-items: center;
}

.projectCard {
    margin: 0.5rem;
    width: 260px;
    height: 320px;
    min-width: 200px;
    box-shadow: 0 4px 3px var(--primary-color);
    border-radius: 0.75rem;
    position: relative;
    overflow: hidden;
    z-index: 0;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0% 15%;
        transition: all 0.4s ease-out;
        filter: opacity(60%);
    }

}

.projectData {
    padding: 1rem;
    position: absolute;
    inset: 74% 0 0 0;
    /* inset: 0; */
    border-radius: 0.75rem;
    transition: all 0.4s ease-out;
    backdrop-filter: blur(6px);
    z-index: 1;
    display: flex;
    flex-direction: column;

    & span {
        margin-bottom: 0.5rem;
    }

    & p {
        margin: 0 0 1rem 0;
        flex: 1;
        overflow-y: scroll;
    }
}

.mainData {
    margin-bottom: 1rem;

    & h4 {
        margin-bottom: 0.5rem;
        font-size: 1.25rem;
        text-align: start;
    }

    & p {
        text-align: right;
    }
}

.projectCard:hover img {
    filter: opacity(20%);
}

.projectCard:hover .projectData {
    inset: 0;
}

@media (max-width: 578px) {
    .projectCard {
        width: 100%;
        height: 260px;
    }

    .projectData {
        inset: 70% 0 0 0;
    }
}