#skills {
  background-color: var(--greyBackground);
  position: relative;
}
#skills .gradientTitle {
  margin-top: 3em;
}
#skills .skillsDividerTop {
  position: absolute;
  filter: blur(1px);
  top: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
#skills .skillsDividerTop svg {
  position: relative;
  display: block;
  width: calc(183% + 1.3px);
  height: 110px;
}
#skills .skillsDividerTop .shape-fill {
  fill: var(--secondary-color);
}
#skills .skillsDividerBottom {
  position: absolute;
  filter: blur(1px);
  bottom: -1px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}
#skills .skillsDividerBottom svg {
  position: relative;
  display: block;
  width: calc(183% + 1.3px);
  height: 110px;
}
#skills .skillsDividerBottom .shape-fill {
  fill: var(--secondary-color);
}
#skills .stack {
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#skills .stack div {
  position: relative;
}
#skills h4 {
  width: 6em;
  padding: 0.35em 1em;
  border-radius: 1em;
  position: absolute;
  top: -1em;
  box-shadow: 1px 4px 4px var(--shadow);
  background: linear-gradient(to right, var(--primary-color) 50%, var(--primary-color-light) 100%);
  color: white;
  display: inline-block;
}
#skills i {
  font-size: 48px;
}
#skills ul {
  margin: 0 0 3em 2em;
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border-radius: 2em;
  box-shadow: 2px 2px 7px var(--shadow);
  z-index: 0;
}
#skills ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}
#skills ul p {
  margin-bottom: 0;
}
#skills .basics {
  opacity: 0;
  transform: translateX(-30px);
  transition: var(--05msTransition);
}
#skills .basics.stackListAppeared {
  opacity: 1;
  transform: translateX(0);
}
#skills .frontend {
  opacity: 0;
  transform: translateX(-30px);
  transition: var(--05msTransition);
  transition-delay: 0.2s;
}
#skills .backend {
  opacity: 0;
  transform: translateX(-30px);
  transition: var(--05msTransition);
  transition-delay: 0.4s;
}
#skills .tools {
  opacity: 0;
  transform: translateX(-30px);
  transition: var(--05msTransition);
  transition-delay: 0.6s;
}
#skills .stackListAppeared {
  opacity: 1;
  transform: translateX(0);
}
#skills .htmlStyle {
  color: #f16529;
}
#skills .cssStyle {
  color: #2965f1;
}
#skills .jsStyle {
  color: #f7df1e;
}
#skills .reactStyle {
  color: #00d8ff;
}
#skills .bsStyle {
  color: #563d7c;
}
#skills .sassStyle {
  color: #f06292;
}
#skills .nodeStyle {
  color: #ccc;
}

@media (max-width: 768px) {
  #skills ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .stack {
    display: flex;
    flex-direction: column;
  }
  .stack li {
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 576px) {
  #skills ul {
    margin-left: 0;
  }
}/*# sourceMappingURL=styles_skills.css.map */