#skills {
  background-color: var(--secondary-color);
  position: relative;

  .gradientTitle {
    margin-top: 3em;
  }

  .skillsDividerTop {
    position: absolute;
    filter: blur(1px);
    top: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
      position: relative;
      display: block;
      width: calc(183% + 1.3px);
      height: 110px;
    }

    .shape-fill {
      fill: var(--primary-color-light);
    }
  }

  .skillsDividerBottom {
    position: absolute;
    filter: blur(1px);
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    svg {
      position: relative;
      display: block;
      width: calc(183% + 1.3px);
      height: 110px;
    }

    .shape-fill {
      fill: var(--primary-color-light);
    }
  }

  .stack {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    grid-template-areas:
      "mainTech-1 mainTech-1 midTech-2 midTech-2"
      "mainTech-1 mainTech-1 tool-3 tech-4"
      "midTech-1 tool-1 mainTech-2 mainTech-2"
      "midTech-1 tool-2 mainTech-2 mainTech-2";

    div {
      position: relative;
    }

    img,
    i {
      width: 40px;
    }

    .mainTech-1 {
      grid-area: mainTech-1;
    }
    .mainTech-2 {
      grid-area: mainTech-2;
    }
    .midTech-1 {
      grid-area: midTech-1;
    }
    .midTech-2 {
      grid-area: midTech-2;
    }
    .tool-1 {
      grid-area: tool-1;
    }
    .tool-2 {
      grid-area: tool-2;
    }
    .tool-3 {
      grid-area: tool-3;
    }
    .tech-4 {
      grid-area: tech-4;
    }
  }

  h4 {
    width: 6em;
    padding: 0.35em 1em;
    border-radius: 1em;
    position: absolute;
    top: -1em;
    box-shadow: 1px 4px 4px var(--shadow);
    background: linear-gradient(
      to right,
      var(--primary-color) 50%,
      var(--primary-color-light) 100%
    );
    color: white;
    display: inline-block;
  }

  i {
    font-size: 48px;
  }

  ul {
    margin: 0 0 3em 2em;
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    border-radius: 2em;
    box-shadow: 2px 2px 7px var(--shadow);
    z-index: 0;

    li {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 0.5em 1em;
    }

    p {
      margin-bottom: 0;
    }
  }

  .main-stack {
  }

  .htmlStyle {
    color: #f16529;
  }
  .cssStyle {
    color: #2965f1;
  }
  .jsStyle {
    color: #f7df1e;
  }
  .reactStyle {
    color: #00d8ff;
  }
  .bsStyle {
    color: #563d7c;
  }
  .sassStyle {
    color: #f06292;
  }
  // . wpStyle: {color: #21759B;}
  .nodeStyle {
    // color: #83cd29;
    color: #ccc;
  }
  // . jestStyle: {color: #99415B;}
}

@media (max-width: 768px) {
  #skills ul {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .stack {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      width: fit-content;
    }
  }
}

@media (max-width: 576px) {
  #skills ul {
    margin-left: 0;
  }
}
