#fm {
  color: var(--greenPrimary);
  text-decoration: overline;
}
#fm:hover {
  color: var(--greenSecondary);
}

#portfolio h3 {
  margin-left: 2em;
  padding: 0.5em 0em;
  color: var(--brownPrimary);
  text-shadow: 1px 1px 2px var(--brownSecondary);
  text-align: end;
}

#carouselExampleCaptions {
  margin-top: 3em;
}

.carousel-control-next,
.carousel-control-prev {
  width: 0;
  background-color: transparent;
}
.carousel-control-next:hover,
.carousel-control-prev:hover {
  background-color: transparent;
}
.carousel-control-next i,
.carousel-control-prev i {
  font-size: 36px;
  color: var(--text);
}

.carouselItem {
  padding: 3em;
  height: 500px;
  position: relative;
}
.carouselItem div {
  border-radius: 2em;
  box-shadow: 2px 2px 7px var(--shadow);
  position: absolute;
}

.carouselImage {
  width: 45%;
  height: 350px;
  top: 1em;
  left: 7em;
  z-index: 2;
}
.carouselImage img {
  width: 100%;
  height: 100%;
  border: 1px solid var(--background);
  border-radius: 2em;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: 0 0;
     object-position: 0 0;
}

.carouselContent {
  padding: 2em;
  padding-left: 4em;
  width: 45%;
  height: 70%;
  right: 7em;
  bottom: 3em;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.carouselContent p {
  margin-left: 5em;
  padding: 0.5em;
  height: 7em;
  font-size: 18px;
  overflow-y: auto;
}

.seeProject {
  align-self: flex-end;
  padding: 0.5em 0.7em;
  background-color: var(--brownPrimary);
  box-shadow: 0 3px 2px var(--brownSecondary);
  transition: 0.3s ease-in-out;
}
.seeProject:hover {
  background-color: var(--brownSecondary);
}
.seeProject a {
  color: white;
  font-size: 20px;
}

@media screen and (max-width: 1300px) {
  #carouselExampleCaptions p {
    margin-left: 2em;
  }
  .carouselImage {
    left: 5em;
  }
  .carouselContent {
    right: 5em;
  }
}
@media screen and (max-width: 992px) {
  #carouselExampleCaptions p {
    margin-left: 4.5em;
  }
  .carouselImage {
    width: 45%;
    left: 3em;
  }
  .carouselContent {
    width: 50%;
    padding-left: 1em;
    right: 3em;
  }
}
@media screen and (max-width: 900px) {
  #carouselExampleCaptions {
    display: flex;
    align-content: center;
  }
  #carouselExampleCaptions h3 {
    margin-left: 0;
    text-align: center;
  }
  #carouselExampleCaptions p {
    margin-left: 0;
  }
  #carouselExampleCaptions button {
    margin: auto;
  }
  .carouselItem {
    height: 700px;
  }
  .carouselItem div {
    margin: auto;
    left: 0;
    right: 0;
  }
  .carouselImage {
    width: 70%;
    top: 3em;
  }
  .carouselContent {
    padding: 2em;
    width: 90%;
    height: 45%;
    bottom: 1em;
    margin: auto;
  }
}
@media screen and (max-width: 576px) {
  .carouselImage {
    width: 85%;
  }
}
@media screen and (max-width: 430px) {
  #carouselExampleCaptions h3 {
    margin-left: 0;
    text-align: center;
  }
  #carouselExampleCaptions p {
    margin: 0.5em 0em;
    height: 12em;
    text-align: center;
  }
  .carouselItem {
    height: 500px;
  }
  .carouselItem div {
    margin: auto;
    height: auto;
    left: 0;
    right: 0;
  }
  .carouselImage {
    display: none;
  }
  .carouselContent {
    margin: auto;
    padding: 1em;
    width: 90%;
    top: 0;
    bottom: 0;
  }
}/*# sourceMappingURL=styles_portfolio.css.map */