:root {
  --background: #f4f5f7;
  --greenBackground: #d3e7c5;
  --greyBackground: #eaebea;
  --text: #0f1d0c;
  --text-size: 20px;
  --greenPrimary: #729044;
  --greenSecondary: #7f9858;
  --greenTertiary: #b7cb90;
  --brownPrimary: #bf8d5f;
  --brownSecondary: #cdb9a1;
  --menuBackground: linear-gradient(to bottom, #b8b8b8f2 70%, #b7cb90f2 90%);
  --shadow: #b8b8b8;
  --03msTransition: all 0.3s ease-in-out;
  --05msTransition: all 0.5s ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  scroll-behavior: smooth;
}

html {
  margin: 0;
}

body {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Courgette", cursive;
  color: var(--text);
}

h3 {
  font-size: 26px;
}

h4 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--text);
  border-radius: 10px;
}

.content {
  flex: 1;
  padding: 0;
}

.subContent {
  padding: 7em 6em 12em 6em;
  margin: auto;
  width: 100%;
  max-width: 1400px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: center;
}

section {
  margin: auto;
  height: -moz-fit-content;
  height: fit-content;
}

.gradientTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  -o-border-image: linear-gradient(to right, var(--greenPrimary), var(--greenTertiary)) 1;
     border-image: linear-gradient(to right, var(--greenPrimary), var(--greenTertiary)) 1;
}
.gradientTitle h2 {
  margin: 0.5em 0;
}
.gradientTitle i {
  font-size: 36px;
  padding-right: 0.3em;
  color: var(--greenTertiary);
  filter: drop-shadow(2px 2px 1px var(--greenPrimary));
}

#navbar {
  display: flex;
}

#closeIcon,
.icon {
  cursor: pointer;
}

#links {
  display: flex;
  align-items: center;
}
#links ul {
  margin: 0;
  display: flex;
  align-items: center;
}
#links ul li a {
  padding: 0 0.3em;
  font-size: var(--text-size);
}

h2 {
  padding-right: 1em;
  text-indent: 0.3em;
  display: inline-block;
  font-size: 34px;
  background: linear-gradient(to right, var(--greenPrimary) 60%, var(--greenTertiary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

a,
a:hover,
a:visited {
  color: var(--text);
  text-decoration: none;
  transition: var(--03msTransition);
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

i {
  color: var(--text);
  font-size: 24px;
}

p {
  text-align: justify;
  font-size: var(--text-size);
}

button {
  padding: 0.7em 1.4em;
  border: none;
  border-radius: 1em;
  background-color: var(--greenPrimary);
  color: white;
  transition: var(--03msTransition);
  box-shadow: 0 3px 2px var(--greenTertiary);
}
button:hover {
  background-color: var(--greenSecondary);
  transition: var(--03msTransition);
}

.navSection {
  width: 100%;
  background: linear-gradient(to bottom, var(--background) 85%, transparent 100%);
  position: fixed;
  top: 0;
  z-index: 3;
  opacity: 0;
  transform: translateY(-60%);
  transition: all 0.75s ease-out;
}
.navSection nav {
  margin: auto;
  padding: 0.5em 2em;
  padding-bottom: 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navSection i {
  padding: 0 0.4em;
  font-size: 24px;
  transition: var(--03msTransition);
}
.navSection i:hover {
  color: var(--greenPrimary);
}
.navSection li a {
  color: var(--text);
}
.navSection li a:hover {
  color: var(--greenSecondary);
}

.appeared {
  opacity: 1;
  transform: translateY(0);
}

#menuIcon,
#closeIcon {
  display: none;
  transition: var(--05msTransition);
}

#home {
  padding-top: 15em;
  height: 100vh;
  background: url(../assets/images/background.jpg);
  background-color: var(--background);
  background-repeat: no-repeat;
  background-size: 1500px 100vh;
  position: relative;
}
#home::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgba(244, 245, 247, 0.4), var(--background));
}

.textSection {
  position: relative;
  z-index: 1;
  text-align: center;
}
.textSection span {
  font-size: 1.3em;
  letter-spacing: 2px;
  color: var(--text);
}
.textSection h1 {
  margin: 0.25em 0;
  padding: 0 0.3em;
  font-size: 5em;
  background: linear-gradient(to right, black 25%, var(--greenPrimary) 70%, var(--greenTertiary) 99%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.connectAndCV {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connectAndCV button {
  margin: 0 30px;
}
.connectAndCV button a {
  font-family: "Courgette", cursive, sans-serif;
  letter-spacing: 2px;
  font-size: 20px;
  color: var(--background);
}
.connectAndCV a {
  letter-spacing: 0.5px;
}

.iAm,
.myJob,
.connectAndCV {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
}

.fadedIn {
  opacity: 1;
  transform: translateY(0);
}

footer {
  padding-top: 3em;
  padding-bottom: 1em;
  background-color: var(--greyBackground);
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
}
footer p {
  margin: 0;
  text-align: center;
}
footer a {
  text-decoration: underline;
  transition: 0.3 ease-in-out;
}
footer a:hover {
  text-decoration: underline;
  color: var(--greenSecondary);
}

.none {
  display: none;
}

.showLinks {
  transform: translateX(0) !important;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 992px) {
  body {
    background-size: 120vw 100vh;
  }
}
@media (max-width: 768px) {
  #menuIcon {
    display: block;
    transition: var(--05msTransition);
  }
  #closeIcon {
    margin: 1em 0.75em;
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
  }
  #closeIcon i {
    color: var(--background);
  }
  #links {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-image: var(--menuBackground);
    transform: translateX(100%);
    transition: var(--05msTransition);
  }
  #links i,
  #links li a,
  #links li i {
    color: var(--text);
  }
  #links ul {
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #links li {
    padding: 1em 0em;
  }
  .textSection h1 {
    font-size: 4em;
  }
  .connectAndCV {
    flex-direction: row;
    justify-content: center;
  }
  .connectAndCV a {
    font-size: 16px;
  }
  .connectAndCV button {
    padding: 0.75em 1.5em;
  }
  .connectAndCV button a {
    font-size: var(--text-size);
  }
  #content {
    padding: 3em;
  }
  .subContent {
    padding: 7em 3em 10em 3em;
  }
}
@media (max-width: 576px) {
  body {
    text-align: center;
    background-size: 200% 100vh;
    background-position: 15% 0;
  }
  section {
    margin: 0;
    text-align: center;
  }
  #upperSection {
    padding: 1em 0.7em;
  }
  #home {
    margin-bottom: 0;
  }
  .heroSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .textSection {
    width: 100%;
    text-align: center;
  }
  .textSection h1 {
    font-size: 12vw;
  }
  .connectAndCV {
    flex-direction: column;
  }
  .connectAndCV yellowPrimary {
    margin-top: 0.5em;
    padding: 0.4em 1.1em;
  }
  .connectAndCV a {
    margin: 1em 0;
  }
  #content {
    padding: 2em;
  }
  .subContent {
    padding-left: 2em;
    padding-right: 2em;
  }
}/*# sourceMappingURL=styles.css.map */