@import url("https://fonts.googleapis.com/css2?family=Niconne&family=Raleway:wght@300;400;600;700&display=swap");
:root {
  --main-font: "Raleway", sans-serif;
  --accent-font: "Niconne", cursive;
  --primary-color: #729044;
  --primary-color-light: #b7cb90;
  --primary-color-dark: #57683c;
  --secondary-color: #f6f9f1;
  --accent-color: #bf8d5f;
  --text-color: #0f1d0c;
  --text-size: 1.1rem;
  --03msTransition: all 0.3s ease-in-out;
  --05msTransition: all 0.5s ease-in-out;
}

* {
  box-sizing: border-box;
  font-family: var(--main-font);
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

html {
  margin: 0;
}

body {
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--accent-font);
  color: var(--text-color);
}

h3 {
  font-size: 26px;
}

h4 {
  margin: 0;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
}

::-webkit-scrollbar {
  width: 0.25rem;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;
}

section {
  margin: auto;
  width: 100%;
  padding: 0;
  flex: 1;
  height: -moz-fit-content;
  height: fit-content;
}

.subContent {
  padding: 7rem 6rem 12rem 6rem;
  margin: auto;
  width: 100%;
  max-width: 1400px;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.gradientTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  -o-border-image: linear-gradient(to right, var(--primary-color), var(--primary-color-light)) 1;
     border-image: linear-gradient(to right, var(--primary-color), var(--primary-color-light)) 1;
}
.gradientTitle h2 {
  margin: 0.5rem 0;
}
.gradientTitle img {
  padding-right: 0.3rem;
  filter: drop-shadow(2px 1px 1px var(--primary-color));
}

h2 {
  padding-right: 1rem;
  text-indent: 0.3rem;
  display: inline-block;
  font-size: 34px;
  background: linear-gradient(to right, var(--primary-color) 60%, var(--primary-color-light) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

a,
a:hover,
a:visited {
  color: var(--text-color);
  text-decoration: none;
  transition: var(--03msTransition);
}
a::first-letter,
a:hover::first-letter,
a:visited::first-letter {
  font-family: var(--accent-font);
  font-size: 1.25rem;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

i {
  color: var(--text-color);
  font-size: 24px;
}

p {
  text-align: justify;
  font-size: var(--text-size);
}

button {
  padding: 0.7rem 1.4rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--primary-color-dark);
  color: var(--secondary-color);
  cursor: pointer;
  transition: var(--03msTransition);
  box-shadow: 0 0 2px var(--primary-color);
}
button:hover {
  background-color: var(--primary-color);
  transition: var(--03msTransition);
}

.pin {
  width: -moz-fit-content;
  width: fit-content;
  display: inline;
  filter: drop-shadow(2px 2px 3px var(--primary-color-dark));
}
.pin i {
  color: var(--primary-color);
}

#home {
  padding-top: 3rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.textSection {
  margin-top: 1rem;
  position: relative;
  z-index: 1;
  text-align: center;
}
.textSection p {
  margin: 0.35rem;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: var(--text-color);
}
.textSection h2 {
  margin: 0.25rem 0;
  padding: 0 0.3rem;
  font-size: clamp(4rem, 8vw, 7rem);
  background: linear-gradient(to right, var(--text-color) 25%, var(--primary-color) 70%, var(--primary-color-light) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.connectAndCV {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.connectAndCV button {
  margin: 0 30px;
}
.connectAndCV button a {
  font-family: var(--accent-font);
  letter-spacing: 2px;
  font-size: 20px;
  color: var(--secondary-color);
}
.connectAndCV a {
  letter-spacing: 0.5px;
}

.iAm,
.myJob,
.connectAndCV,
.heroImage {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.5s ease-in-out;
}

.fadedIn {
  opacity: 1;
  transform: translateY(0);
}

footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: var(--secondary-color);
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
}
footer p {
  margin: 0;
  font-size: 0.9rem;
  text-align: center;
}
footer a {
  text-decoration: underline;
  transition: 0.3 ease-in-out;
}
footer a:hover {
  text-decoration: underline;
  color: var(--primary-color-light);
}

.none {
  display: none;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in;
}

.fadeOut {
  animation: fadeOut 0.5s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@media (max-width: 992px) {
  body {
    background-size: 120vw 100vh;
  }
}
@media (max-width: 768px) {
  .textSection h1 {
    font-size: 4rem;
  }
  .connectAndCV {
    flex-direction: row;
    justify-content: center;
  }
  .connectAndCV a {
    font-size: 16px;
  }
  .connectAndCV button {
    padding: 0.75rem 1.5rem;
  }
  .connectAndCV button a {
    font-size: var(--text-size);
  }
  .subContent {
    padding: 7rem 3rem 10rem 3rem;
  }
}
@media (max-width: 576px) {
  body {
    text-align: center;
    background-size: 200% 100vh;
    background-position: 15% 0;
  }
  section {
    margin: 0;
    text-align: center;
  }
  #home {
    margin-bottom: 0;
  }
  .heroSection {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }
  .textSection {
    width: 100%;
    text-align: center;
  }
  .textSection h2 {
    font-size: 13vw;
  }
  .connectAndCV {
    flex-direction: column;
  }
  .connectAndCV a {
    margin: 1rem 0;
  }
  .heroImage {
    max-width: 70%;
    height: auto;
  }
  .subContent {
    padding: 2.5rem 1.25rem;
  }
}/*# sourceMappingURL=styles.css.map */