#cardTop {
  margin-bottom: 0;
}

.cardsDeck {
  margin-top: 3em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  justify-items: stretch;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s all ease-in-out;
}

.deckVisible {
  opacity: 1;
  transform: translateY(0);
}

.projectCard {
  margin: 0.3em;
  height: 18em;
  flex: 1;

  &:nth-child(odd) {
    transform: translateY(1em);
  }

  &:nth-child(even) {
    transform: translateY(-1em);
  }
}

.truncatedCard {
  min-width: 100%;
  height: 18em;
  border-radius: 1.5em;
  transition: all 0.4s;
  box-shadow: 0 0 10px var(--shadow);
  animation: fadeIn 0.7s ease-in;

  &:hover .dataOverlay {
    opacity: 1;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5em;
  }

  &:nth-child(1) img {
    object-position: 10% 0;
  }
  &:nth-child(2) img {
    object-position: 20% 0;
  }
  &:nth-child(3) img {
    object-position: 50% 0;
  }
  &:nth-child(4) img {
    object-position: 5% 0;
  }
  &:nth-child(5) img {
    object-position: 20% 0;
  }
  &:nth-child(6) img {
    object-position: 60% 0;
  }
}

.extended {
  width: 100%;
}

.dataOverlay {
  width: 100%;
  height: 100%;
  padding: 0.3em;
  display: grid;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  border-radius: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-image: linear-gradient(to bottom, #cba27cb3, #cba27c80);
  backdrop-filter: blur(3px);
  transition: all 0.4s;

  p {
    padding: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    word-wrap: break-word;
    color: white;
    text-shadow: 0 0 3px #664629;
  }

  button {
    padding: 0.75em 1em;
    border-radius: 50%;
    background-color: var(--brownPrimary);
    box-shadow: none;
    cursor: pointer;
  }

  i {
    padding-top: 0.2em;
    color: white;
    font-size: 18px;
    transition: all 0.3s;

    &:hover {
      font-size: 20px;
    }
  }
}

.extendedProjectCard {
  margin: 0.3em;
  height: 20em;
  border-radius: 1.5em;
  transition: all 0.4s;
  animation: fadeIn 0.5s ease-in;

  i {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  div:nth-child(2) img {
    margin-bottom: 2em;
    width: 100%;
    max-width: 700px;
    height: auto;
    border-radius: 1.5em;
    p:first-child {
      margin: 0;
    }
  }

  h2 {
    margin-bottom: 0;
    text-indent: 0;
  }

  ul {
    text-align: left;
  }

  a {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
  }

    &:nth-child(odd) {
    transform: translateY(0);
  }

  &:nth-child(even) {
    transform: translateY(0);
  }
}

.dataExtended {
  display: flex;
  align-items: center;

  div:first-child {
    width: 50%;

    img {
      max-height: 345px;
      object-fit: cover;
    }
  }

  div:last-child {
    width: 50%;
    padding: 1.2em;
    padding-top: 0;
  }
}

.seeProject {
  padding: 0.5em 1em;
  border-radius: 0.75em;
  font-size: 20px;
  background-color: var(--brownPrimary);
  box-shadow: 0 3px 2px var(--brownSecondary);

  &:hover {
    background-color: var(--brownSecondary);
  }
}

.disabled {
  background-color: var(--shadow);
  box-shadow: 0 3px 2px #ababab;
  cursor: none;
  &:hover {
    background-color: var(--shadow);
  }
}

@media (max-width: 900px) {
  #cardTop {
    margin-bottom: 3em;
  }

  .cardsDeck {
    flex-wrap: wrap;
  }
  .projectCard,
  .truncatedCard,
  .dataOverlay {
    min-width: 10em;
    height: 12em;
  }

  .projectCard {
    &:nth-child(odd) {
      transform: translateY(0);
    }

    &:nth-child(even) {
      transform: translateY(0);
    }

    .extendedProjectCard {
      overflow: scroll;

      i {
        margin: 0.3em 0.5em 0em 0em;
        margin-right: 0.5em;
        margin-bottom: 0;
      }
    }

    .dataExtended {
      flex-direction: column;
      div:first-child {
        display: none;
      }
      div:last-child {
        padding-top: 0;
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 578px) {
  .dataExtended div:last-child {
    padding: 0 0.5em 0.5em 0.5em;
    width: 100% !important;
  }
}
